@media screen and (max-width: 767px){
    menu{
        position: relative;
    }
    body{
        grid-template-areas: 
        "menu"
        "header"
        "main"
        "footer";
        max-width: fit-content;
    }
    main{
        grid-template-areas: 
        "jeans"
        "shirts"
        "polos"
        "shorts"
        "trousers"
        "slippers"
        "sports"
        "bags"
        "matching-ensemble";
    }

}