@media screen and (max-width: 767px){
    *{
        font-size: small;
    }
    html{
        margin: 1.5rem;
    }
    menu{
        position: relative;
        margin-right: 0;
        margin-top: 0.6rem;
    }
    menu h2, ul, a{
        padding: 1rem;
    }
    body{
        grid-template-areas: 
        "header"
        "menu"
        "main"
        "footer";

    }
    header{
        margin-left: 0;
        padding-left: 0;
    }
    header nav ul{
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
        height: auto;

    }
    #hamburger-menu{
        display: contents;
        background: none;
        border: none;
        top: 0;
    }
    #hamburger-menu i {
        color: var(#949f1c);

    }
    #nav-links{
        display: none;
        position: absolute;
        background-color: aliceblue;
        margin-top: 0;
        width: 100%;
        z-index: 1000;
        
        
    }
    #nav-links.show{
        display:block;
    }
    menu img{
        margin-left: 30%;
    }
    
    main{
        grid-template-areas: 
        "jeans"
        "shirts"
        "polos"
        "shorts"
        "trousers"
        "slippers"
        "sports"
        "bags"
        "matching-ensemble";
        margin-left: 0;
    }
    section{
        width: 100%;
        height: 100%;
    }
    section img{
        width: 100%;
    }
    section h3, p{
        padding: 0.6rem;
    }
    footer{
        margin-left: 0;
    }
    .story, .about, .contact-h2{
        padding: 0.6rem;
    }
    .contact2{
        flex-direction: column;
    }
    .whatsapp, .location, .phone-line{
        padding: 10px;
        margin-top: 0;
        margin-bottom: 0;

    }
    .whatsapp img, .location img, .phone-line img{
        justify-self: center;
    }
    .contact2{
        justify-content: center;
    }
    footer, input, textarea, button{
        margin-left: 0;
    }
    footer h2, div div img,p{
        margin-left: 0;
        display: flex;
        flex-wrap: wrap;
    }
    footer div img{
        height: 20px;
        width: 20px;
    }
    footer form label{
        margin-left: 35px;
    }
    footer form button{
        display: flex;
        align-items: center;
        max-width: 40%;
        
    }
    
    #name, #number, #message, #button{
        margin-left: 2.2rem;
    }
    #button{
        padding: 10px;
        gap: 10px;
        flex-direction: row;
        padding-bottom: 0;
    }

    .whatsapp{
        margin-left: 0;
    }
    .last{
        justify-self: center;
    }

}