*{
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body{
    display: grid;
    grid-template-areas: 
    "menu header header header"
    "menu main main main"
    "menu main main main"
    "menu footer footer footer";

}
header{
    grid-area: header;
    background-color: blue;
    color: aliceblue;
}
header > a{
    color: white;
}
menu{
    grid-area: menu;
    background-color: greenyellow
}
main{
    grid-area: main;
    background-color: crimson;
}
footer{
    grid-area: footer;
    background-color:darkturquoise

}
